<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755896840479-o3ac0a2lvmeloudhdlkcg72aqmf6d9gj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755896840479-o3ac0a2lvmeloudhdlkcg72aqmf6d9gj</string>
	<key>API_KEY</key>
	<string>AIzaSyBQReulgsvQlhuElFYxhec1SQtxdl-2pRU</string>
	<key>GCM_SENDER_ID</key>
	<string>755896840479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.2020covid.coffeeninja</string>
	<key>PROJECT_ID</key>
	<string>coffee-ninja-f4462</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-ninja-f4462.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755896840479:ios:499d1ca06da9c42010802a</string>
	<key>DATABASE_URL</key>
	<string>https://coffee-ninja-f4462.firebaseio.com</string>
</dict>
</plist>